.gtm-badge {
	position: fixed;
	top: 8px;
	left: 10px;
	align-content: center;
	background-color: green;
	z-index:1000000;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Safari and Chrome */
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
} /* http://easings.net/# */

#label-injected {
	display: inline-block;
	width: 100%;
	height: 8px;
	text-align: center;
	color: white;
	font-size: 8px;
	padding-top: 0px;
	font-weight: bold;
}

.gtm-label {
	display: inline-block;
	font-size: 12px;
	background-color: white;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.gtm-badge-collapsed {
	width: 100px;
	left: -90px;
}
