body {
	color: #145716;
	width:325px;
	font-family: Myriad Pro,PT Sans,sans-serif;
	background-color: #fffee;
}

.tool:hover {
		cursor: pointer;
}

.inspector-option {
	margin-top: .4em;
	margin-left: 3em;
}

.tool-title {
	color: #145716;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.4em;
	display: block;
	font-size: 9pt;
}

.container-input {
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
}

#btn-control-gtm {
	float: right;
	display: inline;
}

.gtm-container-controls {
	position: relative;
	margin-bottom: 3px;
}

#ap-logo {
	width: 80%;
	vertical-align: bottom;
	margin-bottom: 1em;
	margin-left: .8em;
}

#container-tools {
	margin-left: 2.8em;
	margin-top: -.5em;
}

#dataLayer-name {
	margin-top: 3px;
}

.txt-input{
	border-style: dotted;
	border-width: 1px;
	border-color: lightgrey;
	width: 10em;
}

.txt-input:focus{
	border-color: darkgreen;
}

.txt-area-input{
	border-style: dotted;
	border-width: 1px;
	border-color: lightgrey;
	width: 16em;
	margin-left: 1.35em;
	margin-top: .25em;
}

.tool {
	margin-top: .1em;
	margin-bottom: .25em;
}

#hostName, #gtm-container, #dataLayer-name {
	font-size: 12px;
	padding-left: 2px;
}

#update-button  {
	margin-top: .8em;
	margin-bottom: .7em;
	background-image: linear-gradient(to bottom, #249c2a, #0e7013);
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 11px;
  padding: 4px 10px 5px 10px;
  text-decoration: none;
}

#button-area {
	width: 100%;
	text-align: center;
}

a:link {
    text-decoration: none;
		color: #145716;
}

a:visited {
    text-decoration: none;
		color: #218525;
		font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.cbx-label {
}

.invisible {
  display: none;
}

#dataLayer-name-text-field {
	width: 10em;
	height: 1.5em;
	padding-left: 0.25em
}


#inject-gtm {
	margin-left: 1.5em;
}

#txt-code-push {
	width: 210px;
	font-size: 6pt;
	margin-left: 2em
}

#ap-advanced-toggle {
	position: relative;
	top: .13em;
	left: .2em;
}

input[type=checkbox] {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: .1em;
	margin-left: 1px;
	margin-top: 0em;
	box-shadow: outset 0px 1px 1px rgba(0, 0, 0, .3);
	border-radius: 0px;
	top: .1em;
  position: relative;
}


#ap-advanced-toggle-label{
	position: relative;
	display: inline-block;
	left: .2em;
}
#ap-advanced-toggle-label:hover {
	cursor: pointer;
}

#advanced-options-control:hover {
	cursor: pointer;
}

#advanced-options-control {
	display:block;
	margin-left: 1.5em;
}

#container-tools-observe {
	margin-bottom: .5em;
}


 #advanced-options-badge{
	 font-size: 75%;
 }

 #advanced-options-contents{
	 padding-bottom: .2em;
	 overflow: auto;
	 overflow-y: auto;
	 max-height: 295px;
	 margin-top: .3em;
 }

 .control-set-label {
 	display: inline-block;
  font-weight: bold;
 	margin-top: .7em;
}

.advanced_on {
	font-weight: bold;
}
